 /* Animasi latar belakang */
@keyframes neonBlink {
  0%, 100% {
    /* Hapus background-color di sini */
  }
  50% {
    /* Hapus background-color di sini */
  }
}

/* Elemen yang akan diberi efek neon */
.neon-background {
  width: 100%;
  height: 100vh;
  animation: neonBlink 5s infinite;
  background: linear-gradient(to right, cyan, magenta, cyan); /* Tiga warna latar belakang */
}
